In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
data=arff.loadarff('4year.arff')
df=pd.DataFrame(data[0])

In [3]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.108990,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0'
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.089372,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0'
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.054286,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0'
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.102630,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0'
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,0.439880,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0'

In [4]:
df['bankruptcy']=(df['class']==b'1')
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [5]:
df=pd.concat([df['Attr1'],df['Attr2'],df['Attr7'],df['Attr10'],df['bankruptcy']],axis=1)
df.head()

      Attr1    Attr2     Attr7   Attr10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

In [6]:
df.columns=['X1','X2','X7','X10','bankruptcy']
df=df.fillna(df.mean())
df.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

In [7]:
df_all=df
df_all=df_all.drop('bankruptcy',axis=1)
print('Mean of the 4 features among all companies:','\n',df_all.std())
print('Std of the 4 features among all companies:','\n',df_all.mean())

Mean of the 4 features among all companies:
 X1     0.359303
X2     4.586887
X7     0.533317
X10    4.590064
dtype: float64
Std of the 4 features among all companies:
 X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64

In [8]:
df_operating=df[df['bankruptcy']==False]
df_operating=df_operating.drop('bankruptcy',axis=1)
print('Mean of the 4 features among operating companies:','\n',df_operating.std())
print('Std of the 4 features among operating companies:','\n',df_operating.mean())

Mean of the 4 features among operating companies:
 X1     0.343002
X2     4.689694
X7     0.530524
X10    4.692934
dtype: float64
Std of the 4 features among operating companies:
 X1     0.049231
X2     0.580752
X7     0.066162
X10    0.404899
dtype: float64

In [9]:
df_bankrupt=df[df['bankruptcy']==True]
df_bankrupt=df_bankrupt.drop('bankruptcy',axis=1)
print('Mean of the 4 features among bankrupt companies:','\n',df_bankrupt.std())
print('Std of the 4 features among bankrupt companies:','\n',df_bankrupt.mean())

Mean of the 4 features among bankrupt companies:
 X1     0.568076
X2     1.945596
X7     0.568432
X10    1.946747
dtype: float64
Std of the 4 features among bankrupt companies:
 X1    -0.068873
X2     0.878355
X7    -0.061538
X10    0.103367
dtype: float64

In [10]:
df_satisfied=df[(df['X1']<np.mean(df['X1'])-np.std(df['X1']))&(df['X10']<np.mean(df['X10'])-np.std(df['X10']))]
print(len(df_satisfied))

15

In [11]:
df_satisfied_bankrupt=df_satisfied[df_satisfied['bankruptcy']==True]
print(len(df_satisfied_bankrupt)/len(df_satisfied))

0.2